
  .item1 {
    background: LightSkyBlue;
    grid-area: head;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
  
  .item3 {
    background: PaleTurquoise;
    grid-area: content;
  }
  
  .some-text {
    text-align: left;
    font-size: 15px;
  }
  .container {
    font-size: 1.5em;
    height: 600px;
    width: 800px;
    background: LightGray;
    display: grid;
    grid-template-columns: 0px 780px;
    grid-gap: 10px;
    grid-template-rows: auto 525px;
    grid-template-areas:
      "advert head"
      "advert content";
  }

  .button-style {
    width: 150px;
    height: 50px;
    background-color: #69e5c0;
    font-weight: bold;
  }
  
 