
  .item1 {
    background: lightskyblue;
    grid-area: head;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  .align {
    display: inline-block;
  }
  
 .select {
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: center;
    background-color: #232323;
    color: white;
    width: 155px;
    height: 40px;
    border-radius: 10px;
  }

.select:hover {
    background-color: white;
    color: black;

  }

  .item3 {
    background: PaleTurquoise;
    grid-area: content;
  }
  
  .some-text {
    text-align: left;
    font-size: 15px;
  }
  .container {
    font-size: 1.5em;
    height: 600px;
    width: 800px;
    background: LightGray;
    display: grid;
    grid-template-columns: 0px 780px;
    grid-gap: 10px;
    grid-template-rows: auto 525px;
    grid-template-areas:
      "advert head"
      "advert content";
  }

 .button {
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #232323;
  color: white;
  padding: 10px;
  width: 150px;
  height: 50px;
  }

  .button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  .helpbutton {
    transition-duration: 0.4s;
  cursor: pointer;
  background-color: blue;
  color: white;
  padding: 10px;
  width: 150px;
  height: 50px;
  }

  .helpbutton:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  
  
 