<html>
<body>
<h3>International Institute of Information Technology, Hyderabad(IIIT-H)</h3>
<p><a href="http://www.iiit.ac.in" target="showframe">Click Here</a>to visit website</p>
<h3>Faculty Mentor</h3>
<p>Dr. Syed Azeemuddin</p>
<p>To visit his website <a href="#" target="showframe">Click Here</a></p>
<h3>Team Members</h3>
<ul><li>Anwar Idrisi</li><li>Shashank Sharma</li><li>Anisha Dey</li><li>Madhulika Jain</li></ul>
<h3>MHRD</h3>
<p>Ministry of Human Resource Department under National Mission on education through ICT</p>
<p><a href="http://www.iiit.ac.in" target="showframe">Parent website location</a></p>
</body>
</html>
