
<html>
<body>
					<p>Inverter is a simple logic gate, with only one input and one output. Its symbol is shown below:-</p>
					<p><center><img src="not.gif"/></center></p>
					<p>Its output is always the opposite of the input,i.e. if the input is <b>0</b>, the output will be <b>1</b>, if the input is <b>1</b>, the output will be <b>0</b>. The truth table for inverter is shown below:-</p>
					<center>
					<table border="1" color="#000000">
					<tr>
					<td align="center"><b>Input</b></td>
					<td align="center"><b>Output</b></td>
					</tr>
					<tr>
					<td align="center">0</td>
					<td align="center">1</td>
					</tr>
					<tr>
					<td align="center">1</td>
					<td align="center">0</td>
					</tr>
					</table></center>
					<p>The transistor level design of inverter can be made using many logics but the following three logics will be explained in the theory section in detail</p>
					<ul><li>Complementary CMOS logic</li><li>Pseudo NMOS logic</li><li>Clocked CMOS logic</li></ul>
				<!--	<p>It can be realised through various arrangements of NMOS and/or PMOS transistors.This experiment deals with three such configurations</p>
					<p>Complementary CMOS logic inverter is realised by the series connection of a p and n-device.</p>
					<p>In pseudo NMOS logic, the gate of p-device is permanently grounded which is equivalent to use of depletion load in NMOS.</p>
					<p>In clocked CMOS logic,</p> -->
</body>
</html>
