<html>
<body>
<h3>CMOS INVERTER</h3>
<p>In the transistor level design of CMOS inverter consists of nmos and pmos transistor in series.The PMOS transistor is connected between V<sub>dd</sub> and output node,whereas the NMOS is connected betweeen the output node and gnd.</p>
<h3>WORKING OF CMOS INVERTER</h3>
<p>The transfer characteristic(i.e. the output voltage vs input voltage)characteristic is shown in the figure in the right.The operation is divided into 5 region depending on the range of input voltage(Move your mouse over the region to know about the region).The output voltage in every region is obtained by equating I<sub>dsp</sub> and I<sub>dsn</sub></p>
<h3>PSUEDO NMOS</h3>
<p>The gate of p-device is permanently grounded which is equivalent to use of depletion load in NMOS</p>
<h3>EFFECT OF CAPACITENCE ON THE RISE AND FALL TIME</h3>
<p>The rise time is defined as the time required to charge the capacitor from 10% to 90% and fall time is defined as the time required for the capacitor to discharge from 90% to 10%.Greater value of capacitor implies larger rise and fall time,which furthur implies large delay(the average of rise and fall time)
<h3>EFFECT OF W/L RATIO ON OUTPUT WAVEFORM</h3>
<p>W/L ratio is directly proportional to &#946.The ratio &#946<sub>n</sub>/&#946<sub>p</sub> is crucial in determinig the transfer characteristic of the inverter.When the ratio is increased the transition shifts from left to right,but the output voltage transition remains sharp.For CMOS the ratio is desired to be 1 so that it requires equal time to charge and discharge.</p>
 
</body>
</html>
